body, html {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: white;
  top: 0px;
  right: 0px;
  left: 0px;
}

.logo {
  padding-left: 30px;
  display: flex;
}

header nav {
  display: inline-block;
}

header h4 {
  margin-left: 10px;
}

header a {
  color: black;
  margin: 15px;
}

.main-content {
  position: relative;
  z-index: 5;
  top: 75px;
  display: flex;
  margin-top: 20px;
}

.large {
  display: inline-flex;
  width: 630px;
  margin-right: 20px;
  flex-direction: column;
}

.medium {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-right: 20px;
}

.small {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.mother {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.earth {
  flex-direction: row;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 275px;
  width: 275px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.research {
  flex-direction: row;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 275px;
  width: 275px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.cats {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png")
}

.main-content p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.news-bites p {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 15px;
  border-bottom: 1px solid black;
  margin: 0px
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.flex-containter {
  display: flex;
  justify-content: space-between;
}

h5 {
  text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 325px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    position: relative;
    z-index: 5;
    top: 75px;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}
